<div class="order-comments-block comment last">
    <form class="form order-comment-form">
        <div>
            <div class="field">
                <label class="label">
                    <span data-bind="i18n: 'Enter comment'"></span>
                </label>
                <div class="control">
                        <textarea class="input-text order-comment" name="comment-code" rows="10"
                                  data-bind="attr:{placeholder: $t('Enter your comment...')} "></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
